.nft-list{
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-gap: 20px;
}

.nft-item{

}
.nft-item .nft-item-img{
    width: 120px;
    height: 120px;

}
.nft-item .nft-item-name{
    margin: 4px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}