.sgn-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(120px, 1fr));
    grid-gap: 20px;
}

.sgn-item{

}
.sgn-item .sgn-item-img{
    width: 120px;
    height: 120px;

}
.sgn-item .sgn-item-name{
    margin: 4px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}